/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: icon-font;
  src: url("../../fonts/icon-font.eot");
  src: url("../../fonts/icon-font.eot?#iefix") format("embedded-opentype"), url("../../fonts/icon-font.woff") format("woff"), url("../../fonts/icon-font.woff2") format("woff2"), url("../../fonts/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-regular.eot");
  src: url("../../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-regular.woff") format("woff"), url("../../fonts/opensans-regular.woff2") format("woff2"), url("../../fonts/opensans-regular.svg#Open Sans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-bold.eot");
  src: url("../../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-bold.woff") format("woff"), url("../../fonts/opensans-bold.woff2") format("woff2"), url("../../fonts/opensans-bold.svg#Open Sans") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-light.eot");
  src: url("../../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-light.woff") format("woff"), url("../../fonts/opensans-light.woff2") format("woff2"), url("../../fonts/opensans-light.svg#Open Sans") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-semibold.eot");
  src: url("../../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-semibold.woff") format("woff"), url("../../fonts/opensans-semibold.woff2") format("woff2"), url("../../fonts/opensans-semibold.svg#Open Sans") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danny-face:before {
  content: "\f101";
}

.icon-dribbble:before {
  content: "\f102";
}

.icon-linkedin:before {
  content: "\f103";
}

.icon-mail:before {
  content: "\f104";
}

.icon-phone:before {
  content: "\f105";
}

.icon-twitter:before {
  content: "\f106";
}

.icon-vimeo:before {
  content: "\f107";
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: #404040;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.hero {
  height: 100%;
  position: relative;
  width: 100%;
}
.hero-text {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}
.hero-text-wrap {
  display: table-cell;
  padding: 0 20px 30px;
  vertical-align: middle;
  width: 100%;
}
.hero-text .icon-danny-face {
  color: #10A68D;
  font-size: 100px;
}
.hero-text-hello {
  margin: 10px 0;
  max-width: 182px;
  width: 60%;
}
.hero-text-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
.hero-text-description--red {
  color: #C92222;
}
.hero-text-description--teal {
  color: #10A68D;
}
.hero-down_arrow {
  background-image: url("../../images/hero/downarrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 20px;
  cursor: pointer;
  height: 38px;
  left: 50%;
  margin-left: -59px;
  position: absolute;
  width: 118px;
  z-index: 5;
}
.hero-image {
  background-position: center;
  background-size: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

footer {
  margin: 0 auto;
  max-width: 980px;
  padding: 30px 20px 50px;
  text-align: center;
}
footer h2 {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
footer a {
  -webkit-transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  color: #404040;
  text-decoration: none;
}
footer .contact {
  margin-bottom: 30px;
}
footer .contact-info {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
footer .contact-email, footer .contact-phone {
  padding-bottom: 10px;
}
footer .contact-email a, footer .contact-phone a {
  line-height: 25px;
}
footer .contact-email a:hover, footer .contact-phone a:hover {
  color: #10A68D;
}
footer .contact-phone {
  margin-left: 4px;
}
footer .contact-phone a {
  margin-left: -4px;
}
footer .contact span[class^="icon-"]:before {
  font-size: 25px;
  line-height: 25px;
  margin-right: 10px;
  vertical-align: baseline;
}
footer .social-networks li {
  display: inline-block;
}
footer .social-networks li span[class^="icon-"]:before {
  font-size: 25px;
  line-height: 25px;
  margin: 0 12px;
  vertical-align: baseline;
}
footer .social-networks li .dribbble:hover {
  color: #ea4c89;
}
footer .social-networks li .twitter:hover {
  color: #55acee;
}
footer .social-networks li .linkedin:hover {
  color: #0976b4;
}
footer .social-networks li .vimeo:hover {
  color: #1ab7ea;
}

.projects {
  background-color: #dbdbdb;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.project-square-container {
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}
.project-square-container:after {
  content: "";
  display: table;
  clear: both;
}

.nav {
  padding: 30px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.nav-link {
  color: #404040;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 36px;
  margin: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:after {
  -webkit-transition: opacity 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: opacity 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 200ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #404040;
  bottom: -4px;
  content: "";
  left: 0;
  height: 1px;
  opacity: 1;
  position: absolute;
  width: 97%;
}
.nav-link:hover:after {
  opacity: 0;
}

.project-square {
  background-size: cover;
  border-left: solid 1px #ffffff;
  border-top: solid 1px #ffffff;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.project-square-inner {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  top: 0;
}
.project-square-link {
  color: #ffffff;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 2;
}
.project-square-text {
  -webkit-transition: padding 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: padding 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: padding 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: padding 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: padding 200ms cubic-bezier(0.23, 1, 0.32, 1);
  bottom: 0;
  left: 0;
  padding: 40px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.project-square-text h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.project-square-text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.project-square:after {
  background: #000000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000000));
  background: -webkit-linear-gradient(top, transparent, #000000);
  background: -moz-linear-gradient(top, transparent, #000000);
  background: -ms-linear-gradient(top, transparent, #000000);
  background: -o-linear-gradient(top, transparent, #000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', EndColorStr='#000000')";
  bottom: 0;
  content: "";
  height: 60%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.project-square:hover .project-square-text {
  padding-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .hero-text-description {
    font-size: 27px;
    line-height: 37px;
  }
}
@media screen and (min-width: 640px) {
  footer {
    padding: 45px 20px;
    text-align: left;
  }
  footer:after {
    content: "";
    display: table;
    clear: both;
  }
  footer .contact {
    float: left;
  }
  footer .contact-info-email, footer .contact-info-phone {
    display: inline-block;
  }
  footer .contact-info-email {
    margin-right: 20px;
  }
  footer .social {
    float: right;
  }
  footer .social-networks li span[class^="icon-"]:before {
    margin: 0 24px 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    text-align: right;
    padding-right: 135px;
    padding-top: 36px;
  }
  .nav-link {
    margin: 0 25px;
  }
  .nav-link:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 481px) {
  .project-square {
    float: left;
    padding-bottom: 50%;
    width: 50%;
  }
}
@media screen and (min-width: 961px) {
  .project-square {
    float: left;
    padding-bottom: 33.33333333%;
    width: 33.33333333%;
  }
  .project-square-text h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .project-square-text p {
    font-size: 17px;
    line-height: 24px;
  }
}

/*# sourceMappingURL=master.css.map */
