/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: icon-font;
  src: url("../../fonts/icon-font.eot");
  src: url("../../fonts/icon-font.eot?#iefix") format("embedded-opentype"), url("../../fonts/icon-font.woff") format("woff"), url("../../fonts/icon-font.woff2") format("woff2"), url("../../fonts/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-regular.eot");
  src: url("../../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-regular.woff") format("woff"), url("../../fonts/opensans-regular.woff2") format("woff2"), url("../../fonts/opensans-regular.svg#Open Sans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-bold.eot");
  src: url("../../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-bold.woff") format("woff"), url("../../fonts/opensans-bold.woff2") format("woff2"), url("../../fonts/opensans-bold.svg#Open Sans") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-light.eot");
  src: url("../../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-light.woff") format("woff"), url("../../fonts/opensans-light.woff2") format("woff2"), url("../../fonts/opensans-light.svg#Open Sans") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/opensans-semibold.eot");
  src: url("../../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans-semibold.woff") format("woff"), url("../../fonts/opensans-semibold.woff2") format("woff2"), url("../../fonts/opensans-semibold.svg#Open Sans") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danny-face:before {
  content: "\f101";
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: #404040;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.hero {
  height: 100%;
  position: relative;
  width: 100%;
}
.hero .hero-text {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}
.hero .hero-text .hero-text-wrap {
  display: table-cell;
  padding: 0 20px 30px;
  vertical-align: middle;
  width: 100%;
}
.hero .hero-text .icon-danny-face {
  color: #10A68D;
  font-size: 100px;
}
.hero .hero-text .hero-hello {
  margin: 10px 0;
  max-width: 182px;
  width: 60%;
}
.hero .hero-text .hero-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
.hero .hero-text .hero-description .red {
  color: #C92222;
}
.hero .hero-text .hero-description .teal {
  color: #10A68D;
}
.hero .down-arrow {
  background-image: url("../../images/hero/downarrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 20px;
  cursor: pointer;
  height: 38px;
  left: 50%;
  margin-left: -59px;
  position: absolute;
  width: 118px;
  z-index: 5;
}
.hero .hero-image {
  background-position: center;
  background-size: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

nav.nav-links {
  padding: 30px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
nav.nav-links .nav-link {
  color: #404040;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
nav.nav-links .nav-link:after {
  background-color: #404040;
  bottom: 0;
  content: "";
  left: 0;
  height: 1px;
  position: absolute;
  width: 97%;
}

/*# sourceMappingURL=master.css.map */
