// Footer for all pages
footer {
  margin: 0 auto;
  max-width: 980px;
  padding: 30px 20px 50px;
  text-align: center;
  h3 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  a {
    @include transition(color $speed $ease);
    color: $black;
    text-decoration: none;
  }
  .contact {
    margin-bottom: 30px;
    &-info {
      display: inline-block;
      margin: 0 auto;
      text-align: left;
      &-email, &-phone {
        padding-bottom: 10px;
        a {
          line-height: 25px;
          &:hover {
            color: $teal;
          }
        }
      }
    }
    &-phone {
      margin-left: 4px;
      a {
        margin-left: -4px;
      }
    }
    span[class^="icon-"]:before {
      font-size: 25px;
      line-height: 25px;
      margin-right: 10px;
      vertical-align: baseline;
    }
  }
  .social {
    &-networks {
      li {
        display: inline-block;
        span[class^="icon-"]:before {
          font-size: 25px;
          line-height: 25px;
          margin: 0 12px;
          vertical-align: baseline;
        }
        .dribbble:hover {   color: $dribbble-color; }
        .twitter:hover {    color: $twitter-color; }
        .linkedin:hover {   color: $linkedin-color; }
        .vimeo:hover {      color: $vimeo-color; }
      }
    }
  }
  &.footer--project {
    border-top: solid 1px $grey-lighter;
    max-width: none;
    width: 100%;
    .container {
      max-width: 980px;
    }
  }
}

@media screen and (min-width: 640px) {
  footer {
    @include clearfix();
    padding: 45px 20px;
    text-align: left;
    .contact {
      float: left;
      &-info {
        &-email, &-phone {
          display: inline-block;
        }
        &-email {
          margin-right: 20px;
        }
      }
    }
    .social {
      float: right;
      &-networks {
        li {
          span[class^="icon-"]:before {
            margin: 0 24px 0 0;
          }
        }
      }
    }
  }
}
