// Fullscreen hero image section that appears at the top of a page
.hero {
  height: 100%;
  position: relative;
  width: 100%;
  &-text {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    &-wrap {
      display: table-cell;
      padding: 0 20px 30px;
      vertical-align: middle;
      width: 100%;
    }
    .icon-danny-face {
      color: $teal;
      font-size: 100px;
    }
    &-title {
      font-size: 34px;
      font-weight: 300;
      margin: 30px 0 20px;
    }
    &-description {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
    }
  }
  &-down_arrow {
    background-image: url('../../images/hero/downarrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 20px;
    cursor: pointer;
    height: 38px;
    left: 50%;
    margin-left: -59px;
    position: absolute;
    width: 118px;
    z-index: 5;
    &--light {
      background-image: url('../../images/hero/downarrow-light.png');
    }
  }
  &-image {
    background-position: center;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    &--top {
      background-position: center top;
    }
  }
}
