// Fullscreen hero image section that appears at the top of a page
.hero {
  height: 100%;
  position: relative;
  width: 100%;
  .hero-image {
    background-position: center;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
