// Styles for the project square container
.projects {
  background-color: $grey-light;
  height: 100%;
  position: relative;
  width: 100%;
}
.project-square-container {
  @include clearfix();
  border-bottom: solid 1px $white;
  border-right: solid 1px $white;
  width: 100%;
}
