// Styles for the project square container
.projects {
  background-color: $grey-light;
  height: auto;
  position: relative;
  width: 100%;
}
.project-square-container {
  @include clearfix();
  border-bottom: solid 1px $white;
  border-right: solid 1px $white;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .projects {
    height: 100%;
  }
}
