// Reusable mixins

// Import font face
@mixin declare-font-face($font-family, $font-filename, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
  @font-face {
    font-family: #{$font-family};
    src: url("../../fonts/#{$font-filename}.eot");
    src: url("../../fonts/#{$font-filename}.eot?#iefix") format("embedded-opentype"), 
         url("../../fonts/#{$font-filename}.woff") format("woff"),
         url("../../fonts/#{$font-filename}.woff2") format("woff2"), 
         url("../../fonts/#{$font-filename}.svg##{$font-family}") format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}

// Box Sizing
@mixin box-sizing($box-sizing: border-box) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  -o-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

// Transitions
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
     -moz-transition: $transitions;
      -ms-transition: $transitions;
       -o-transition: $transitions;
          transition: $transitions;
}
