// All reusable variables

// Colors
$black-true:  #000000;
$black:       #404040;
$grey-dark:   #4A4A4A;
$grey:        #6f6f6f;
$grey-light:  #dbdbdb;
$whitish:     #F7F7F7;
$white:       #ffffff;
$teal:        #10A68D;
$red:         #C92222;

// Brand Colors
$twitter-color:     #55acee;
$dribbble-color:    #ea4c89;
$linkedin-color:    #0976b4;
$vimeo-color:       #1ab7ea;

// Animations
$speed:   200ms;
$ease:    cubic-bezier(0.230, 1.000, 0.320, 1.000);
