// All reusable variables

// Colors
$black-true:  #000000;
$black:       #404040;
$white:       #ffffff;
$teal:        #10A68D;
$red:         #C92222;

// Brand Colors
$twitter-color:     #55acee;
$dribbble-color:    #ea4c89;
$linkedin-color:    #0976b4;
// TODO: change below to proper color
$vimeo-color:       #00b488;

// Animations
$speed:   200ms;
$ease:    cubic-bezier(0.230, 1.000, 0.320, 1.000);
