// Responsive styles for about section
@media screen and (min-width: 560px) {
  .about-section {
    display: table;
    &-picture, &-text {
      display: table-cell;
      vertical-align: middle;
    }
    &-picture {
      width: 40%;
    }
    &-text {
      padding: 30px;
      width: 60%;
    }
  }
}
@media screen and (min-width: 768px) {
  .about-section {
    &-picture {
      text-align: right;
      img {
        margin-right: 60px;
      }
    }
    &-text {
      padding: 80px 30px;
      h2, p {
        max-width: 420px;
      }
    }
  }
}
@media screen and (min-width: 1441px) {
  .about-section {
    &-picture {
      width: 45%;
    }
    &-text {
      width: 55%;
    }
  }
}
