// Responsive project title styles
@media screen and (min-width: 480px) {
  .project-title {
    &-logo {
      float: left;
      width: 100px;
    }
    &-text {
      float: left;
      padding-left: 30px;
      padding-top: 0;
      width: calc(100% - 100px);
    }
    &--full {
      .project-title-logo {
        margin-bottom: 0;
      }
      .project-title-text {
        padding: 0 20px 0 40px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .project-title {
    &-logo {
      width: 164px;

    }
    &-text {
      width: calc(100% - 164px);
    }
  }
  .sprinkle-bg {
    background-size: 207px 255px;
    background-position: 103% -100%;
  }
}

@media screen and (min-width: 900px) {
  .project-title--full {
    .project-title-logo {
      width: 300px;
      &--desktop-only {
        display: block;
      }
    }
  }

}
