// Navigation elements
.nav {
  padding: 30px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  &.project {
    background-color: $white;
    padding: 10px 20px 15px;
    text-align: right;
    .nav-link {
      display: inline-block;
      font-size: 10px;
      letter-spacing: 0;
      margin-top: 0px;
      &:after {
        bottom: 0;
      }
      &.home {
        color: $teal;
        display: block;
        float: left;
        font-size: 40px;
        margin: 0;
        padding: 0;
        position: relative;
        margin-top: 0;
        &:after {
          height: 0;
        }
      }
    }
  }
  &-link {
    color: $black;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 36px;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    &:after {
      @include transition(opacity $speed $ease);
      background-color: $black;
      bottom: -4px;
      content: "";
      left: 0;
      height: 1px;
      opacity: 1;
      position: absolute;
      width: 97%;
    }
    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }
}
