// The project title on the top of project pages
.project-title {
  @include clearfix();
  padding: 60px 24px;
  width: 100%;
  &--pink {
    background-color: $energy-hog-dark;
    color: $white;
    .project-title-tags {
      color: $white;
    }
  }
  &--gold {
    background-color: $greatest-hotels-dark;
    color: $white;
    .project-title-tags {
      color: $white;
    }
  }
  &--pink_light {
    background-color: $creative-mornings;
    color: $white;
    .project-title-tags {
      color: $white;
    }
  }
  &--blue {
    background-color: $venmo;
    color: $white;
    .project-title-tags {
      color: $white;
    }
  }

  &-wrap {
    width: 100%;
  }
  &-logo {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    img {
      display: block;
      width: 100%;
    }
    &--desktop-only {
      display: none;
    }
  }
  &-text-wrap {
    display: inline;
  }
  &-text {
    display: inline-block;
    margin-left: 11px;
    vertical-align: middle;
    width: calc(100% - 76px);
  }
  &-description {
    display: block;
    padding-top: 24px;
    width: 100%;
  }
  &-name {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  &-tags {
    color: $grey-dark;
    font-size: 16px;
    font-weight: 300;
  }
  p {
    font-size: 17px;
    line-height: 29px;
  }
  &--full {
    padding: 30px 0 0;
    .project-title-logo {
      margin-bottom: 20px;
    }
    .project-title-text {
      padding: 0 20px;
    }
    p {
      padding-bottom: 20px;
    }
  }
}
.sprinkle-bg {
  background-position: 105% -7%;
  background-repeat: no-repeat;
  background-size: 102px 126px;
}

@media screen and (min-width: 360px) {
  .project-title {
    &-logo {
      width: 80px;
    }
    &-name {
      font-size: 28px;
    }
    &-text {
      width: calc(100% - 96px);
    }
  }
}

@media screen and (min-width: 480px) {
  .project-title {
    &-wrap {
      display: table;
    }
    &-logo {
      display: table-cell;
      vertical-align: middle;
      width: 100px;
    }
    &-text {
      margin-left: 0;
      width: auto;
    }
    &-text-wrap {
      display: table-cell;
      padding-left: 30px;
      padding-top: 0;
      vertical-align: middle;
      width: calc(100% - 100px);
      h1, h2, p {
        max-width: 555px;
        width: 100%;
      }
    }
    &--full {
      .project-title-logo {
        margin-bottom: 0;
      }
      .project-title-text {
        padding: 0 20px 0 40px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .project-title {
    &-logo {
      width: 164px;

    }
    &-text {
      width: calc(100% - 164px);
    }
  }
  .sprinkle-bg {
    background-size: 207px 255px;
    background-position: 103% -100%;
  }
}

@media screen and (min-width: 900px) {
  .project-title {
    padding: 93px 24px;
    &-name {
      font-size: 44px;
    }
  }
  .project-title--full {
    .project-title-logo {
      width: 300px;
    }
  }

}
