// Navigation between projects
.project-nav {
  @include clearfix();
  // display: inline-block;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 20px 70px;
  width: 100%;
  a {
    @include clearfix();
    @include transition(background-color $speed $ease);
    border: solid 1px $grey-lighter;
    border-radius: 3px;
    color: $black;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: $grey-lighter;
    }
  }
  .icon {
    display: inline-block;
    font-size: 20px;
    position: relative;
    vertical-align: middle;
    &:before {
      vertical-align: top;
    }
  }
  &-left, &-right {
    margin-top: 20px;
  }
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
  &-download {
    width: 100%;
    .icon {
      margin-right: 15px;
      font-size: 30px;
    }
    a {
      background-color: $red;
      border: none;
      color: $white;
      margin: 0 auto;
      max-width: 360px;
      width: 100%;
      &:hover {
        background-color: lighten($red, 10%);
      }
    }
    &--energy_hog {
      a {
        background-color: $energy-hog;
        &:hover {
          background-color: lighten($energy-hog, 10%);
        }
      }
    }
    &--creative_mornings {
      a {
        background-color: $creative-mornings;
        &:hover {
          background-color: lighten($creative-mornings, 10%);
        }
      }
    }
  }
  &-text {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  &-heading {
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    text-transform: uppercase;
  }
  &-title {
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }
}
