// Project sections on project pages
.project-section {
  @include clearfix;
  padding: 60px 24px;
  &--dark {
    background-color: $whitish;
  }
  &--pink {
    background-color: $energy-hog-dark;
    color: $white;
  }
  &--less_padding {
    padding: 60px 24px;
  }
  &--product {
    &--energy_hog {
      background-color: $energy-hog-dark;
      padding: 0;
      position: relative;
      .project-section-fg_image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        height: 500px;
        left: 0;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
      }
      .project-section-bg_image {
        background-position: center;
        background-repeat: repeat;
        background-size: 100px 100px;
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 0.05;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  &-item {
    img {
      width: 100%;
    }
    &.project-section-text {
      margin-top: 40px;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    text-transform: uppercase;
    &--big {
      font-size: 29px;
    }
    &--white {
      color: $white;
    }
    &--b_margin {
      margin-bottom: 30px;
    }
  }

  &-text {
    margin: 20px 0 0;
    &-p {
      font-size: 17px;
      line-height: 29px;
      margin-bottom: 20px;
      max-width: 600px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
      &--fullwidth {
        max-width: none;
      }
      &--white {
        color: $white;
      }
    }
    &-ehog-diagram {
      display: block;
      margin: 50px auto 0;
      max-width: 750px;
      width: 100%;
    }
  }
  &-images {
    @include clearfix();
    margin: 0 -15px;
    text-align: center;
    &--quarter_container {
      margin: 0 -5px;
    }
    &-third {
      display: inline-block;
      padding: 30px 15px 0;
      vertical-align: top;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &-quarter {
      display: inline-block;
      padding: 0 5px 10px;
      width: 50%;
      img {
        @include box-shadow(0, 31px, 50px, rgba(0, 0, 0, 0.1));
        width: 100%;
      }
    }
  }
  &-persona {
    margin-top: 30px;
    width: 100%;
    &-attributes {
      @include clearfix();
    }
    &-silhouette {
      display: block;
      height: 67px;
      margin: 0 0 10px;
      width: 67px;
    }
    &-description {
      display: inline-block;
      margin-bottom: 20px;
      width: 100%;
      ul {
        li {
          font-size: 11px;
          font-weight: bold;
          line-height: 14px;
          text-transform: uppercase;
          margin-bottom: 4px;
        }
      }
    }
    &-needs {
      font-size: 15px;
      line-height: 24px;
    }
  }
}

@media screen and (min-width: 480px) {
  .project-section {
    &-persona {
      &-silhouette {
        float: left;
        display: inline-block;
        margin-right: 30px;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .project-section {
    &-images {
      &-third {
        width: 49%;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .project-section {
    &--product {
      &--energy_hog {
        .project-section-fg_image {
          height: 700px;
        }
      }
    }
    &-text {
      @include clearfix();
      &-p {
        float: left;
        width: 50%;
        &:nth-child(odd) {
          padding-right: 20px;
        }
        &:nth-child(even) {
          padding-left: 20px;
        }
        &--fullwidth {
          float: none;
          padding: 0;
          width: 100%;
          &:nth-child(odd), &:nth-child(even) {
            padding: 0;
          }
        }
      }
      &-ehog_diagram {
        margin: 100px auto 0;
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .project-section {
    padding: 160px 24px;
    &--less_padding {
      padding: 80px 24px;
    }
    &--product {
      &--energy_hog {
        padding: 0;
      }
    }
    &-images {
      &-third {
        width: 33%;
      }
      &-quarter {
        padding: 0 15px;
        width: 25%;
      }
    }
  }
}
@media screen and (min-width: 920px) {
  .project-section {
    &-persona {
      @include clearfix();
      &-attributes {
        float: left;
        width: 439px;
      }
      &-silhouette {
        margin-bottom: 0;
      }
      &-description {
        margin-bottom: 0;
      }
      &-needs {
        float: left;
        padding-left: 30px;
        width: calc(100% - 439px);
      }
    }
  }
}
@media screen and (min-width: 1020px) {
  .project-section {
    &-item {
      &--container {
        display: table;
      }
      &--half {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        &:first-child {
          padding-right: 50px;
        }
        &:last-child {
          padding-left: 50px;
        }
      }
      &.project-section-text {
        margin-top: 0;
      }
    }
  }
}
@media screen and (min-width: 1140px) {
  .project-section {
    &-persona {
      @include clearfix();
      &-attributes {
        float: left;
        width: 40%;
      }
      &-needs {
        float: left;
        padding-left: 30px;
        width: 60%;
      }
    }
  }
}
