// Project sections on project pages
.project-section {
  padding: 50px 24px;
  &--dark {
    background-color: $whitish;
  }

  &-title {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &--big {
      font-size: 29px;
    }
    &--white {
      color: $white;
    }
  }
  &-text {
    margin: 20px 0 0;
    &-p {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 20px;
      max-width: 600px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
      &--fullwidth {
        max-width: none;
      }
      &--white {
        color: $white;
      }
    }
    &-ehog-diagram {
      display: block;
      margin: 50px auto 0;
      max-width: 750px;
      width: 100%;
    }
  }
  &-images {
    @include clearfix();
    margin: 0 -15px;
    text-align: center;
    &-third {
      display: inline-block;
      max-width: 387px;
      padding: 30px 15px 0;
      vertical-align: top;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &-persona {
    margin-top: 30px;
    width: 100%;
    &-attributes {
      @include clearfix();
    }
    &-silhouette {
      display: block;
      height: 67px;
      margin: 0 0 10px;
      width: 67px;
    }
    &-description {
      display: inline-block;
      margin-bottom: 20px;
      width: 100%;
      ul {
        li {
          font-size: 11px;
          font-weight: bold;
          line-height: 14px;
          text-transform: uppercase;
          margin-bottom: 4px;
        }
      }
    }
    &-needs {
      font-size: 15px;
      line-height: 24px;
    }
  }
}
