// Fullwidth project images on the homepage
.project-fullwidth {
  background-position: center;
  background-size: cover;
  height: 375px;
  position: relative;
  width: 100%;
  &-text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    h3 {
      color: $white;
      font-size: 28px;
      font-weight: 900;
      letter-spacing: 0.05em;
      line-height: 30px;
      text-transform: uppercase;
    }
    p {
      color: $white;
      font-size: 12px;
      line-height: 16px;
      vertical-align: middle;
    }
    &-inner {
      max-width: 120px;
    }
  }
  &-link {
    display: table;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
  }
  &--venmo {
    background-position: 55%;
    .project-fullwidth-text-inner {
      float: right;
      margin-right: 30px;
      max-width: 150px;
      text-align: right;
    }
  }
  &--energy-hog {
    background-position: 68%;
    .project-fullwidth-text-inner {
      margin-left: 30px;
    }
  }
  &--greatest-hotels {
    background-position: 40%;
    .project-fullwidth-text-inner {
      float: right;
      margin-right: 30px;
      max-width: 150px;
      text-align: right;
    }
  }
  &--creative-mornings {
    background-position: 40%;
    .project-fullwidth-text-inner {
      float: left;
      margin-left: 30px;
    }
  }
}

@media screen and (min-width: 400px) {
  .project-fullwidth {
    &--venmo {
      background-position: 55%;
      .project-fullwidth-text-inner {
        margin-right: 60px;
      }
    }
    &--energy-hog {
      background-position: 65%;
      .project-fullwidth-text-inner {
        margin-left: 60px;
      }
    }
    &--greatest-hotels {
      background-position: 35%;
      .project-fullwidth-text-inner {
        margin-right: 60px;
      }
    }
    &--creative-mornings {
      background-position: 40%;
      .project-fullwidth-text-inner {
        margin-left: 60px;
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .project-fullwidth {
    &-text-inner {
      max-width: 250px;
    }
    &--venmo {
      background-position: 55%;
      .project-fullwidth-text-inner {
        max-width: 280px;
      }
    }
    &--greatest-hotels {
      background-position: 40%;
      .project-fullwidth-text-inner {
        max-width: 280px;
      }
    }
    &--creative-mornings {
      background-position: 50%;
    }
  }
}

@media screen and (min-width: 640px) {
  .project-fullwidth {
    &--venmo {
      background-position: 55%;
      .project-fullwidth-text-inner {
        margin-right: 60px;
      }
    }
    &--energy-hog {
      background-position: 65%;
      .project-fullwidth-text-inner {
        margin-left: 60px;
      }
    }
    &--greatest-hotels {
      background-position: 35%;
      .project-fullwidth-text-inner {
        margin-right: 60px;
      }
    }
    &--creative-mornings {
      background-position: 50%;
      .project-fullwidth-text-inner {
        margin-left: 60px;
      }
    }
  }
}

@media screen and (min-width: 740px) {
  .project-fullwidth {
    &--venmo {
      .project-fullwidth-text-inner {
        margin-right: 20%;
      }
    }
    &--energy-hog {
      .project-fullwidth-text-inner {
        margin-left: 20%;
      }
    }
    &--greatest-hotels {
      .project-fullwidth-text-inner {
        margin-right: 20%;
      }
    }
    &--creative-mornings {
      .project-fullwidth-text-inner {
        margin-left: 20%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .project-fullwidth {
    height: 90%;
    &-text {
      &-inner {
        max-width: 570px;
      }
      h3 {
        font-size: 58px;
        line-height: 60px;
      }
      p {
        font-size: 19px;
        line-height: 24px;
      }
    }
    &--venmo {
      .project-fullwidth-text-inner {
        margin-right: 17%;
        max-width: 570px;
        padding-right: 0;
      }
    }
    &--energy-hog {
      .project-fullwidth-text-inner {
        margin-left: 17%;
        padding-left: 0;
      }
    }
    &--greatest-hotels {
      .project-fullwidth-text-inner {
        margin-right: 17%;
        max-width: 360px;
        padding-right: 0;
      }
    }
    &--creative-mornings {
      .project-fullwidth-text-inner {
        margin-left: 17%;
        max-width: 360px;
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .project-fullwidth {
    &--venmo {
      .project-fullwidth-text-inner {
        max-width: 570px;
      }
    }
    &--energy-hog {
      .project-fullwidth-text-inner {
        max-width: 570px;
      }
    }
    &--greatest-hotels {
      .project-fullwidth-text-inner {
        max-width: 570px;
      }
    }
    &--creative-mornings {
      .project-fullwidth-text-inner {
        max-width: 570px;
      }
    }
  }
}
